/**
 * Module dependencies
 */

@require 'shoelace-ui-input'

/**
 * Apply `textarea` default styles.
 */

// Make multiple select elements height not fixed
select[multiple]
select[size]
  height auto
  @extend $input--control
