/**
 * Module dependencies
 */

@require 'shoelace-ui-input'

/**
 * Apply `textarea` default styles.
 */

select
  @extend $input--control

select[multiple]
select[size]
  height auto // make multiple select elements height not fixed
